In [2]:
import pandas as pd
import matplotlib as plt
from sklearn import (
        tree,
        ensemble,

)

url = (
"http://biostat.mc.vanderbilt.edu/"
"wiki/pub/Main/DataSets/titanic3.xls"
)

# Load data in dataframe

df = pd.read_excel(url)

In [4]:

orig_df = df
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"


Terms for Data

We typically train a model with a matrix of data. (I prefer to use
pandas DataFrames because it is very nice to have column
labels, but numpy arrays work as well.)

For supervised learning, such as regression or classification,
our intent is to have a fuction that transforms features into a
label. If we were to write this as an algebra formula, it would
look like this:

y = f(X)

X is a matrix. Each row represents a sample of data or informa‐
tion about an individual. Every column in X is a feature. The
output of our function, y, is a vector that contains labels (for
classification) or values (for regression) (see Figure 3-1).



This is standard naming procedure for naming the data and the
output. If you read academic papers or even look at the docu‐
mentation for libraries, they follow this convention. In Python,
we use the variable name X to hold the sample data even though
capitalization of variables is a violation of standard naming
conventions (PEP 8). Don’t worry, everyone does it, and if you
were to name your variable x , they might look at you funny.
The variable y stores the labels or targets.
Table 3-1 shows a basic dataset with two samples and three fea‐
tures for each sample.

Table 3-1. Samples (rows) and features (columns)
pclass age sibsp
1 29 0
1 2 1

Clean Data

Once we have the data, we need to ensure that it is in a format
that we can use to create a model. Most scikit-learn models
require that our features be numeric (integer or float). In addi‐
tion, many models fail if they are passed missing values ( NaN in
pandas or numpy). Some models perform better if the data is
standardized (given a mean value of 0 and a standard deviation
of 1). We will deal with these issues using pandas or scikit-
learn. In addition, the Titanic dataset has leaky features.
Leaky features are variables that contain information about the
future or target. There’s nothing bad in having data about the
target, and we often have that data during model creation time.
However, if those variables are not available when we perform a
prediction on a new sample, we should remove them from the
model as they are leaking data from the future.
Cleaning the data can take a bit of time. It helps to have access
to a subject matter expert (SME) who can provide guidance on
dealing with outliers or missing data.


>>> df.dtypes
pclass
int64
survived
int64
name
object
sex
object
age
float64
sibsp
int64
parch
int64
ticket
object
fare
float64
cabin
object
embarked
object
16
|
Chapter 3: Classification Walkthrough: Titanic Datasetboat
object
body
float64
home.dest
object
dtype: object
We typically see int64 , float64 , datetime64[ns] , or object .
These are the types that pandas uses to store a column of data.
int64 and float64 are numeric types. datetime64[ns] holds
date and time data. object typically means that it is holding
string data, though it could be a combination of string and
other types.
When reading from CSV files, pandas will try to coerce data
into the appropriate type, but will fall back to object . Reading
data from spreadsheets, databases, or other systems may pro‐
vide better types in the DataFrame. In any case, it is worthwhile
to look through the data and ensure that the types make sense.
Integer types are typically fine. Float types might have some
missing values. Date and string types will need to be converted
or used to feature engineer numeric types. String types that
have low cardinality are called categorical columns, and it
might be worthwhile to create dummy columns from them (the
pd.get_dummies function takes care of this).
NOTE
Up to pandas 0.23, if the type is int64 , we are guaranteed
that there are no missing values. If the type is float64 , the
values might be all floats, but also could be integer-like
numbers with missing values. The pandas library converts
integer values that have missing numbers to floats, as this
type supports missing values. The object typically means
string types (or both string and numeric).
As of pandas 0.24, there is a new Int64 type (notice the
capitalization). This is not the default integer type, but you
can coerce to this type and have support for missing
numbers.
Clean Data
|
17The pandas-profiling library includes a profile report. You can
generate this report in a notebook. It will summarize the types
of the columns and allow you to view details of quantile statis‐
tics, descriptive statistics, a histogram, common values, and
extreme values (see Figures 3-2 and 3-3):